<a href="https://colab.research.google.com/github/149segolte/149segolte.github.io/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab 2

#### Demo 2

In [1]:
print("\tLab 2 : Demo 2")
a = 5
if a > 0:
    print("hello")
print('thankyou')

	Lab 2 : Demo 2
hello
thankyou

#### Demo 3

In [2]:
print("\tLab 2 : Demo 3")
a = 20
b = 30
if a > b:
    print(a, " is greater than ", b)
else:
    print(b, " is greater than ", a)

	Lab 2 : Demo 3
30  is greater than  20

In [3]:
print("\tLab 2 : Demo 4")
b = 3
a = -5
if a > 0 and a < b:
    print("hello")
    print(a)

	Lab 2 : Demo 4

In [4]:
print("\tLab 2 : Demo 5")
b = 3
a = -5
if a > 0 and a < b:
    print("hello")
elif a < 0 or a == b:
    print("hi")

	Lab 2 : Demo 5
hi

In [5]:
print("\tLab 2 : Demo 6")
b = 3
while b < 5:
    print("b is smaller")
    b = b+1

	Lab 2 : Demo 6
b is smaller
b is smaller

In [6]:
print("\tLab 2 : Q10")
x = int(input("Enter the number: "))
if x % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

	Lab 2 : Q10
Enter the number: 26
The number is even

In [7]:
print("\tLab 2 : Q11")
sub1 = int(input("Enter marks of first subject: "))
sub2 = int(input("Enter marks of second subject: "))
sub3 = int(input("Enter marks of third subject: "))
sub4 = int(input("Enter marks of fourth subject: "))
sub5 = int(input("Enter marks of fifth subject: "))
print("The aggregate marks are:", sub1+sub2+sub3+sub4+sub5, "out of 500")
print("The percentage obtained is:", (sub1+sub2+sub3+sub4+sub5)/5, "%")

	Lab 2 : Q11
Enter marks of first subject: 34
Enter marks of second subject: 78
Enter marks of third subject: 65
Enter marks of fourth subject: 23
Enter marks of fifth subject: 98
The aggregate marks are: 298 out of 500
The percentage obtained is: 59.6 %

In [8]:
PI = 3.1415
print("\tLab 2 : Q12")
length = int(input("Enter length of the rectangle: "))
height = int(input("Enter height of the rectangle: "))
radius = int(input("Enter radius of the circle: "))
print("Rectangle:")
print("Area of the rectangle is:", length*height)
print("Perimeter of the rectangle is:", 2*(length+height))
print("Circle:")
print("Area of the circle is:", PI*radius*radius)
print("Circumference of the circle is:", 2*PI*radius)

	Lab 2 : Q12
Enter length of the rectangle: 20
Enter height of the rectangle: 18
Enter radius of the circle: 4
Rectangle:
Area of the rectangle is: 360
Perimeter of the rectangle is: 76
Circle:
Area of the circle is: 50.264
Circumference of the circle is: 25.132

In [9]:
print("\tLab 2 : Q13")
amount = int(input("Enter total amount withdrawn: "))
hundred = amount // 100
fifty = (amount % 100) // 50
tens = ((amount % 100) % 50) // 10
print("Total no. of notes required are:", hundred+fifty+tens)

	Lab 2 : Q13
Enter total amount withdrawn: 300
Total no. of notes required are: 3

In [10]:
print("\tLab 2 : Q14")
sellprice = int(input("Enter total selling price: "))
profit = int(input("Enter total profit: "))
costprice = (sellprice - profit) / 15
print("The cost of one item is:", costprice)

	Lab 2 : Q14
Enter total selling price: 2300
Enter total profit: 46
The cost of one item is: 150.26666666666668

In [11]:
print("\tLab 2 : Q15")
num = int(input("Enter a five digit number: "))
ans = 0
counter = 0
while (num > 0):
    x = num % 10
    num = num // 10
    if x == 9:
        x = 0
    else:
        x += 1
    ans = ans+(x*(10**counter))
    counter += 1

print("The answer is:", ans)

	Lab 2 : Q15
Enter a five digit number: 14973
The answer is: 25084

In [12]:
print("\tLab 2 : Q16")
counter = 0
ans = 0
while (counter < 10):
    x = int(input("Enter an integer: "))
    if ((x % 2 != 0) and (x > ans)) or (counter == 0):
        ans = x
    counter += 1

print("The answer is:", ans)

	Lab 2 : Q16
Enter an integer: 34
Enter an integer: 87
Enter an integer: 23
Enter an integer: 1
Enter an integer: 2
Enter an integer: 78
Enter an integer: 65
Enter an integer: 45
Enter an integer: 0
Enter an integer: 98
The answer is: 87

In [13]:
print("\tLab 2 : Q17")
num = int(input("Enter the number: "))
cuberoot = int(num**(1/3.))
if (cuberoot**3 == num) or ((cuberoot+1)**3 == num):
    print("Entered number is a perfect cube root.")
else:
    print("Entered number is not a perfect cube root.")

	Lab 2 : Q17
Enter the number: 256
Entered number is not a perfect cube root.

In [29]:
print("\tLab 2 : Q18")
num = 1
while (num <= 100):
    if num % 2 == 0:
        print(num, end="\t")
        num += 1
    else:
        num += 1

	Lab 2 : Q18
2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [15]:
print("\tLab 2 : Q19")
num = 1
while (num <= 100):
    if num % 2 != 0:
        print(num)
        num += 1
    else:
        num += 1

	Lab 2 : Q19
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [16]:
print("\tLab 2 : Q1")
x = int(input("Enter x: "))
y = int(input("Enter y: "))
if x+y == 10 and x*y < 20:
    print("incorrect")

	Lab 2 : Q1
Enter x: 8
Enter y: 2
incorrect

In [17]:
print("\tLab 2 : Q20")
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
if x == 0 or y == 0:
    print("GCD of 0 and 0 is : 0")
elif x == y:
    print("GCD of", x, "and", y, "is:", x)
else:
    if x < y:
        gcd = y
    else:
        gcd = x
    while gcd > 0:
        if x % gcd == 0 and y % gcd == 0:
            print("GCD of", x, "and", y, "is:", gcd)
            gcd -= 1
        gcd -= 1

	Lab 2 : Q20
Enter first number: 45
Enter second number: 53
GCD of 45 and 53 is: 1

In [18]:
print("\tLab 2 : Q21")
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
if x == 0 or y == 0:
    print("LCM of 0 and 0 is : 0")
elif x == y:
    print("LCM of", x, "and", y, "is:", x)
else:
    gcd = 0
    if x < y:
        z = y
    else:
        z = x
    while z > 0:
        if x % z == 0 and y % z == 0:
            gcd = z
            z -= 1
        z -= 1
    print("LCM of", x, "and", y, "is:", (x*y)//gcd)

	Lab 2 : Q21
Enter first number: 45
Enter second number: 53
LCM of 45 and 53 is: 2385

In [19]:
PI = 3.1415
print("\tLab 2 : Q2")
radius = int(input("Enter radius: "))
print("Area of the circle is:", PI*radius*radius)
print("Circumference of the circle is:", 2*PI*radius)

	Lab 2 : Q2
Enter radius: 5
Area of the circle is: 78.53750000000001
Circumference of the circle is: 31.415000000000003

In [20]:
print("\tLab 2 : Q3")
principal = int(input("Enter amount: "))
rate = int(input("Enter rate of interest: "))
time = int(input("Enter time (in years): "))
print("Simple interest for this amount will be:", (principal*rate*time)/100)
print("Compound interest for this amount will be:",
      principal*(((1+(rate/100))**time)-1))

	Lab 2 : Q3
Enter amount: 1000
Enter rate of interest: 4
Enter time (in years): 2
Simple interest for this amount will be: 80.0
Compound interest for this amount will be: 81.60000000000012

In [21]:
print("\tLab 2 : Q3")
temp = int(input("Enter temperature in degree centigrade: "))
print("The temperature in degree ferhrenheit is:", (temp*(9/5))+32)

	Lab 2 : Q3
Enter temperature in degree centigrade: 32
The temperature in degree ferhrenheit is: 89.6

In [22]:
print("\tLab 2 : Q5")
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = int(input("Enter third number: "))
print("Average of", x, ",", y, ", and", z, "is:", (x+y+z)/3)

	Lab 2 : Q5
Enter first number: 4
Enter second number: 7
Enter third number: 2
Average of 4 , 7 , and 2 is: 4.333333333333333

In [23]:
print("\tLab 2 : Q6")
sub1 = int(input("Enter marks of first subject: "))
sub2 = int(input("Enter marks of second subject: "))
sub3 = int(input("Enter marks of third subject: "))
sub4 = int(input("Enter marks of fourth subject: "))
sub5 = int(input("Enter marks of fifth subject: "))
sub6 = int(input("Enter marks of sixth subject: "))
print("The sum of marks is:", sub1+sub2+sub3+sub4+sub5+sub6)
print("The percentage obtained is:", (sub1+sub2+sub3+sub4+sub5+sub6)/6, "%")

	Lab 2 : Q6
Enter marks of first subject: 12
Enter marks of second subject: 23
Enter marks of third subject: 34
Enter marks of fourth subject: 45
Enter marks of fifth subject: 56
Enter marks of sixth subject: 67
The sum of marks is: 237
The percentage obtained is: 39.5 %

In [24]:
print("\tLab 2 : Q7")
X = int(input("Enter X: "))
Y = int(input("Enter Y: "))
X, Y = Y, X
print("The value of X is:", X)
print("The value of Y is:", Y)

	Lab 2 : Q7
Enter X: 1
Enter Y: 2
The value of X is: 2
The value of Y is: 1

In [25]:
print("\tLab 2 : Q8")
salary = int(input("Enter the base salary: "))
DA = (10*salary)/100
TA = (12*salary)/100
print("The Gross Salary is:", salary+DA+TA)

	Lab 2 : Q8
Enter the base salary: 20000
The Gross Salary is: 24400.0

In [28]:
print("\tLab 2 : Q9")
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = int(input("Enter third number: "))
great = 0
if x >= y:
    if x >= z:
        great = x
    else:
        great = z
else:
    if y >= z:
        great = y
    else:
        great = z
print("The greatest of", x, ",", y, ", and", z, "is", great)

	Lab 2 : Q9
Enter first number: 3
Enter second number: 2
Enter third number: 7
The greatest of 3 , 2 , and 7 is 7